* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

img {
  width: 50%;
}
.logoContainer {
  display: flex;
  justify-content: center;
  margin: 80px;
}

ul {
  list-style-type: none;
  padding-bottom: 10px;
}

li {
  display: inline;
  font-size: 20px;
  padding: 70px;
}

a {
  text-decoration: none;
  color: #000;
}

.orange {
  color: #fa4a0c;
}

a:focus {
  border-bottom: 3px solid #fa4a0c;
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 30px;
}

input {
  background: transparent;
  border-bottom: 1px solid #000;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  margin: 0px 20px 40px 20px;
  padding: 5px;
  font-size: 17px;
  letter-spacing: 2px;
}
input:focus {
  outline: none;
}

label {
  font-size: 15px;
  margin: 20px;
  color: #626262;
}

p {
  font-size: 15px;
  font-weight: bold;
  color: #fa4a0c;
  margin-left: 20px;
  margin-top: -10px;
}

button {
  background: #fa4a0c;
  color: #fff;
  border-radius: 30px;
  font-size: 20px;
  padding: 20px;
  width: 300px;
  border: none;
  margin: 20px;
}
