* {
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
}

.landingBackground {
  height: 100%;
  background-image: url(./pictures/masahiro-naruse-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*https://unsplash.com/photos/jSBd-tLFOUI?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */
}

.landingHeader {
  padding: 60px 60px 10px 60px;
}

.circle {
  background: white;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  text-align: center;
}

.landingSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 80px 0px 80px;
}

.onboardingH1 {
  color: white;
  font-size: 65px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
}

.onboardingH2 {
  color: white;
  font-size: 24px;
  padding: 15px;
  text-align: center;
}

.nonAuthNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.mediumLogo {
  width: 30%;
}

.smallLogo {
  width: 50%;
  padding: 20px;
}

.flexCenter {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 12px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 70px;
}

ul {
  min-width: 100%;
  list-style-type: none;
}

li {
  display: inline;
  font-size: 20px;
}

.backArrow {
  font-size: 40px;
  padding: 15px;
}

a {
  text-decoration: none;
  color: #000;
}

.orange {
  color: #fa4a0c;
}

a:focus {
  border-bottom: 3px solid #fa4a0c;
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 30px;
}

input {
  background: transparent;
  border-bottom: 1px solid #000;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  margin: 0px 20px 40px 20px;
  padding: 5px;
  font-size: 17px;
  letter-spacing: 2px;
}
input:focus {
  outline: none;
}

label {
  font-size: 15px;
  margin: 20px;
  color: #626262;
}

p {
  font-size: 15px;
  font-weight: bold;
  color: #fa4a0c;
  margin-left: 20px;
  margin-top: -10px;
}

button {
  background: #fa4a0c;
  color: #fff;
  border-radius: 30px;
  font-size: 20px;
  padding: 20px;
  width: 300px;
  border: none;
  margin: 20px;
}

.invertedButton {
  background: #fff;
  color: #fa4a0c;
  border-radius: 30px;
  font-size: 20px;
  padding: 20px;
  width: 300px;
  border: none;
}
