* {
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f8;
}

.landingBackground {
  height: 100%;
  background-image: url(./pictures/masahiro-naruse-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*https://unsplash.com/photos/jSBd-tLFOUI?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */
}

.landingHeader {
  padding: 60px 60px 10px 60px;
}

.circle {
  background: white;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  text-align: center;
}

.landingSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 80px 0px 80px;
}

.landingH1 {
  color: white;
  font-size: 65px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
}

.landingH2 {
  color: white;
  font-size: 24px;
  padding: 15px;
  text-align: center;
}

.onboardingH1 {
  color: white;
  font-size: 30px;
  padding: 10px;
  font-weight: lighter;
  text-align: center;
  padding: 20px 0 0 0;
}

.onboardingH2 {
  color: white;
  font-size: 50px;
  padding: 15px;
  font-weight: lighter;
  text-align: center;
  padding: 60px 0 70px 0;
}

.onboardingP {
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.container {
  margin-top: 20px;
  width: 70%;
  background-color: #ddd;
  border-radius: 20px;
}

.skills {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}

.html50 {
  width: 60%;
  background-color: #50da0f;
}
.html100 {
  width: 100%;
  background-color: #50da0f;
}

.nonAuthNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.onboardingBackground {
  height: 100%;
  background-image: url(./pictures/mae-mu-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*https://unsplash.com/photos/s6S8IgEN6-4?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */
}

.bigLogo {
  width: 30%;
}

.logo {
  width: 50%;
  padding: 20px;
}

.flexCenter {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 12px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 70px;
}

ul {
  min-width: 100%;
  list-style-type: none;
}

li {
  display: inline;
  font-size: 20px;
}

.backArrow {
  font-size: 40px;
  padding: 15px;
}

a {
  text-decoration: none;
  color: #000;
}

.orange {
  color: #fa4a0c;
}

a:focus {
  border-bottom: 3px solid #fa4a0c;
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 30px;
}

input {
  background: transparent;
  border-bottom: 1px solid #000;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  margin: 0px 20px 40px 20px;
  padding: 5px;
  font-size: 17px;
  letter-spacing: 2px;
}
input:focus {
  outline: none;
}

label {
  font-size: 15px;
  margin: 20px;
  color: #626262;
}

p {
  font-size: 15px;
  font-weight: bold;
  color: #fa4a0c;
  margin-left: 20px;
  margin-top: -10px;
}

button {
  background: #fa4a0c;
  color: #fff;
  border-radius: 30px;
  font-size: 20px;
  padding: 20px;
  width: 300px;
  border: none;
  margin: 20px;
}

.invertedButton {
  background: #fff;
  color: #fa4a0c;
  border-radius: 30px;
  font-size: 20px;
  padding: 20px;
  width: 300px;
  border: none;
}

.pantryH1 {
  font-size: 34px;
  padding: 0 0 30px 70px;
}

.pantryP {
  color: #000;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  padding: 100px;
}

.pantryHeader {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.searchField {
  background: #efeeee;
  border-radius: 30px;
  color: #78777877;
  letter-spacing: normal;
  font-size: 20px;
  outline: none;
  border: none;
  text-align: center;
  padding: 10px 70px 10px 70px;
  width: 250px;
}

.searchField:focus {
  color: #000;
}

.categoryList {
  display: flex;
  justify-content: space-around;
  font-size: 17px;
  color: #9a9a9d;
}

.foodCard {
  display: flex;
  padding: 20px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.foodAvatar {
  font-size: 40px;
  margin: 20px 80px 0 80px;
}

.foodH2 {
  margin: 10px 0 0 0;
  padding: 7px;
  color: black;
  font-size: 25px;
  font-weight: lighter;
}

.foodP {
  margin: 0;
  padding: 7px;
  color: black;
  font-size: 15px;
  font-weight: lighter;
}

.foodInfo {
  width: 300px;
}

.foodBtn {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 40px;
}

.addBtn {
  background: #b2b2b4;
  color: #59595a;
}

.removeBtn {
  background: #26cd5f;
  color: #fff;
  font-size: 25px;
}

.active {
  color: #fa4a0c;
  border-bottom: 3px solid #fa4a0c;
}

.scan {
  width: 5%;
}

.matchSection {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 80px;
  padding-top: 100px;
}

.matchH1 {
  font-size: 40px;
  text-align: center;
}

.matchP {
  margin: 0;
  color: gray;
  font-weight: lighter;
  font-size: 25px;
  padding: 10px 0 30px 0;
  text-align: center;
}

.skillbarContainer {
  padding: 50px 0 40px 0;
}

.matchBtn {
  width: 90%;
}

.recipeCard {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
  border-radius: 30px;
  padding: 10px;
  margin: 0px 10px 10px 0px;
}

.recipeCard:hover {
  box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.5);
}

.recipeBar {
  display: flex;
  flex-wrap: wrap;
}

.recipeTitle {
  padding: 10px;
}

.recipeTime,
.recipePort,
.recipeIngr {
  margin: 10px;

  color: #000;
  font-size: 20px;
  font-weight: lighter;
}

.tagBar {
  display: flex;
  flex-wrap: wrap;
}

.recipeTags {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: lighter;
  font-size: 15px;
  background: #fa4a0c;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin: 5px;
  letter-spacing: 1px;
  padding: 15px;
  max-width: 70px;
}

.recipeInfoBar {
  display: flex;
  justify-content: center;
  background: #fa4a0c;
  border-radius: 30px;
  padding: 30px 20px 20px 20px;
  margin: 10px;
}
.recipeInfoBar p {
  color: white;
  font-size: 20px;
  font-weight: lighter;
}

.recipeNav {
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  color: #858585;
  padding: 30px 0 30px 0;
}

.recipeImg {
  width: 40%;
  border-radius: 10px;
}

.recipeContainer {
  margin-left: 10px;
}
.recipeH1 {
  margin: 20px;
}

.filterContainer {
  background: transparent;
  height: 80px;
  width: 80px;
  text-align: center;
}

.cookingImgContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cookingImg {
  width: 90%;
  border-radius: 20px;
}

.cookingP {
  color: black;
  font-size: 20px;
  padding: 21px;
  font-weight: lighter;
}

.cookingH2 {
  padding: 20px 10px 10px 45px;
  font-size: 22px;
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}

.cookingContainer {
  padding-bottom: 100px;
}
